.contentsbanner-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* 배너 간 간격 */
  padding: 20px 0;
  margin-top: 100px;
}

.contentsbanner-title {
  text-align: left;
  padding-left: 180px;
  margin-top: 10px;
  margin-bottom: -80px; /* 제목과 배너 사이의 간격 */
  color: #333; /* 제목 색상 */
  font-size: 24px; /* 제목 폰트 크기 */
}

.banner {
  flex: 1;
  display: flex;
  flex-direction: column; /* 요소들을 세로로 나열 */
  align-items: center; /* 가운데 정렬 */
  background-size: cover; /* 배경 이미지 커버 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.banner-content {
  width: 80%;
}

.banner-content img {
  width: 80%; /* 이미지 너비 100% */
  height: auto; /* 이미지 높이 자동 */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  text-align: center;
}

.banner-text {
  background-color: #fff; /* 텍스트 배경 흰색 */
  padding: 20px;
  text-align: center; /* 텍스트 중앙 정렬 */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
