.horizontal-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  border-radius: 8px;
}

.banner-image img {
  width: 950px; /* 이미지 가로 크기를 배너의 60%로 설정 */
  height: 500px; /* 이미지 세로 크기를 자동으로 설정 */
  border-radius: 8px 0 0 8px; /* 왼쪽 모서리만 둥글게 처리 */
}

.middle-banner-text {
  width: 30%; /* 텍스트 영역 가로 크기를 배너의 40%로 설정 */
  padding: 0px 15px;
  height: 500px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 8px 8px 0;
  text-align: left;
  transform: translateY(-2px); /* 텍스트 영역을 위로 10px 이동 */
}

.middle-banner-text .logo {
  display: flex;
  width: 100px; /* 로고의 너비 */
  height: auto; /* 로고의 높이를 자동으로 설정 */
  text-align: left;
  padding-top: 20px;
}

.banner-text h2,
.banner-text p {
  margin: 0; /* 마진 제거 */
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner-section {
  width: 100%; /* 전체 너비 */
  margin-bottom: 20px; /* 배너와의 간격 */
}

.banner-title {
  font-size: 24px; /* 제목의 폰트 크기 */
  color: #333; /* 제목의 색상 */
  margin-bottom: 10px; /* 제목과 배너 사이의 간격 */
  text-align: left; /* 텍스트 중앙 정렬 */
  padding-left: 180px;
  padding-top: 80px;
}
