.tab-widget-container {
  margin: 20px;
}

.tabs {
  display: flex;
  justify-content: left;
  padding: 10px 0;
  margin-top: 90px;
  margin-bottom: -163px;
  margin-left: 170px;
}

.tabs button {
  padding: 10px;
  margin: 0 2px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabs button.active {
  background-color: rgb(109, 109, 250);
  color: white;
}

.content {
  padding: 20px;
  border: none;
}
